{% extends "layout.njk" %}

{% block title %}Главная | Элекс{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}

{% block navigation %}
  {% include "global/navigation.njk" %}
{% endblock %}

{% block footer %}
  {% include "global/footer.njk" %}
{% endblock %}

{% block content %}

{% endblock %}
