$main-font: "WorkSans", "Arial", sans-serif;
$title-font: "Anton", "Arial", sans-serif;

$grey: #F1F2F4;
$backgroundBlack: #151C22;
$fontBlack: #151C22;
$fontWhite: #FFFFFF;
$textGrey: #727A82;

$main-shadow: 0px 1px 8px rgba(52, 52, 52, 0.1);

$desktop: 1366px;
$tablet: 768px;
$mobile: 320px;
